{#
| Variable                       | Type     | Description          |
|--------------------------------|----------|----------------------|
| component.slides[].image       | string   | Image url            |
| component.slides[].title       | ?string  |                      |
| component.slides[].description | ?string  |                      |
| component.slides               | object[] | list of slides       |
| position                       | int      | Sorting number       |
#}
<section class="lux-hero s-block s-block--hero-slider s-block--full-bg">
  <salla-slider
    id="main-slider-{{ position }}"
    auto-play
    static-when-single
    slider-config='{"lazy":"false","effect":"fade"}'
    {{ component.slides|length > 1 ? '' : 'show-controls="false"' }}
    type="fullwidth">
    <div slot="items">
      {% for slide in component.slides %}
        <div class="swiper-slide lux-hero__slide">
          <div class="lux-hero__bg" style="background-image: url({{ slide.image }});"></div>
          <div class="lux-hero__overlay"></div>
          <div class="lux-hero__content">
            <span class="lux-hero__label">{{ trans('blocks.home.new_collection') }}</span>
            {% if slide.title %}
              <h2 class="lux-hero__title">{{ slide.title }}</h2>
            {% endif %}
            {% if slide.description %}
              <p class="lux-hero__desc">{{ slide.description }}</p>
            {% endif %}
            <div class="lux-hero__actions">
              <a href="{{ link('products') }}" class="lux-btn lux-btn--white">
                {{ trans('blocks.home.shop_now') }}
              </a>
              <a href="{{ link('products') }}?sort=created_at" class="lux-btn lux-btn--ghost">
                {{ trans('blocks.home.new_arrivals') }}
              </a>
            </div>
          </div>
          {{# Vertical decorative line #}}
          <div class="lux-hero__line"></div>
        </div>
      {% endfor %}
    </div>
  </salla-slider>
</section>
